#continueB{
    border-radius: 10px;
    border: none;
    height: 200px;
    width: 300px;
    font-family: graphie-regular;
    font-size: 1rem;
    background: linear-gradient(45deg, #393E41, #b8c66c);
    cursor: pointer;
    /* transition: background 0.5s linear; */
}
#continueB:hover{
    animation: bg .5 linear;
}
