.wish-list{
    border: 3px solid black;
}
.exs{
    border: solid black;
}
.shoping{
    border: solid black;
}
.cmpra{
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compra > :nth-child(1){
    display: flex;
    width: 95%;
    border: solid red;
}
