*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* ------------------------------------------------variables---------------------------------------------- */
:root{
    --negro: #393E41;
    --verde: #b8c66c;
    --naranja: #EE5D23;
    --azul: #0D8FAB;
}

/* -----------------------------------------------fuentes------------------------------------------------ */
@font-face{
    font-family: graphie-bold;
    src: url("../../fonts/Graphie-Bold.otf");
}
@font-face{
    font-family: graphie-regular;
    src: url("../../fonts/Graphie-Regular.otf");
}
@font-face{
    font-family: graphie-light;
    src: url("../../fonts/Graphie-Light.otf");
}
@font-face{
    font-family: extra-light;
    src: url("../../fonts/Graphie-ExtraLight.otf");
}
.tittles{
    font-family: graphie-bold;
    word-spacing: 3px;
    color: #b8c66c;
    font-size: 2rem;
}
.subtittles{
    font-family: extra-light;
    letter-spacing: 5px;
    color: #b8c66c;
}
.light{
    font-family: extra-light;
    letter-spacing: 2px;
    
}
p{
    font-family: graphie-regular;
    font-size: 18px;
}
.regular{
    font-family: graphie-regular;
}
.typed{
    color: black;
    font-family: extra-light;
}

.all{
    position: relative;
    background-color: #fff;
}
.blue{
    color: var(--azul);
}
.black{
    color: var(--negro);
}
.bold{
    font-family: graphie-bold;
}
.exlight{
    font-family: extra-light;
}
.spletters{
    font-size: 3rem;
    color: #b8c66c;
    letter-spacing: 2px;
    text-shadow: 3px 3px 10px black;
}

/* --------------------------------------------------header-------------------------------------------------- */
.header{
    box-shadow: 2px 2px 10px #b8c66c;
    height: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
}
.header-grid{
    display: grid;
    grid-template-columns: 10% 90%;
    /* border: solid green; */
    padding-left: 3%;
}
.nav1{
    /* border: solid blue; */
    height: 70%;
    height: 100%;
}
.logo{
    max-width: 100%;
    height: auto;
}
.containerGrid{
    /* border: solid red; */
    display: grid;
    grid-template-columns: 96% 4%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}
.containerGrid > :nth-child(1){
    display: flex;
    justify-content: center;
    /* padding-left: 10%; */
    align-items: center;
    /* border: solid black; */
}
.busqueda{
    border-radius: 20px;
    height: 40px;
    width: 80%;
    border: none;
    box-shadow: 10px 10px 50px #b8c66c;
    padding-left: 15px;
}
.containerGrid > :nth-child(2){
    height: fit-content;
}
.carrito{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.conttt:hover, #cerrar:hover{
    transform: scale(1.1);
    transition: .3s ease;
}
.listas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.listas li{
    font-family: graphie-regular;
    transition: .3s ease-in-out;
}
.listas li:hover{
    color: #b8c66c;
    transition: .1s;
}
.relative-menu a{
    text-decoration: none;
    color: black;
}
.hiden-menu{
    display: none;
    list-style: none;
    background-color: white;
    box-shadow: 10px 10px 50px #b8c66c;
    position: absolute;
    width: 100vw;
    padding: 15px;
    left: 0;
}
.hiden-menu > div > div{
    margin-bottom: 15px;
}
@keyframes appear {
    0%{
        /* top: -500%; */
        /* transform: scale(0); */
        opacity: 0;
    }
    50%{
        /* top: -250%; */
        /* transform: scale(.5); */
        opacity: .5;
    }
    100%{
        /* top: 0%; */
        /* transform: scale(1); */
        opacity: 1;
    }
}
.hiden-menu > div > div > li > a{
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed #b8c66ccc;
}
.listas li:hover{
    background-color: #0d8eab81;
    border-radius: 15px;
    transition: .3s ease;
}
.listas li:hover .hiden-menu{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    animation: appear .2s linear;
    animation-iteration-count: 1;
    z-index: 1;
}
.guiones{
    border-bottom: dashed rgba(0, 0, 0, 0.247);
}
.nav2{
    /* border: solid black; */
    position: relative;
}

/* ---------------------------------------objetos en el carrito */
.wish-list{
    top: 0;
    height: 100%;
    width: 30%;
    max-width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -30%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    font-size: 20px;
    transition: .3s ease;
    background-color: #b8c66c;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    gap: 0;
}
.wish-list.active {
    right: 0;
}
#cerrar{
    cursor: pointer;
}
.exs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}
#totalcontainer{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-around;
    margin: 5px;
}
#totalcontainer p{
    display: flex;
}
#pedir{
    border: none;
    background-color: #393E41;
    border-radius: 15px;
    font-family: graphie-bold;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

@keyframes rebotar {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#total-precio, 
#signo{
    font-size: 2rem;
    font-weight: 800;
}
#shoping{
    max-height: 100%;
    overflow-y: scroll;
    width: 95%;
    margin: 0 auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    box-shadow: 0 5px 8px -5px var(--negro);
}
#shoping::-webkit-scrollbar {
    display: none;
}  

#header-container{
    border: solid black; 
    display: inline-block;
    width: auto;
    height: auto;
}
.carrito-item{
    border-bottom: 1px solid var(--negro);
    display: flex;
    margin-bottom: 15px;
    
}
.carrito-item > ul li{
    font-family: graphie-regular;
}
.listCaract{
    list-style: none;
}
.separador{
    border-bottom: solid #393E41;
    height: 0;
    width: 70%;
}
.btn-eliminar{
    width: 30%;
    background-color: #393E41;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;
}
.btn-eliminar:hover{
    width: 31%;
}

/* ----------------------varible para el precio---------------------- */
#valorproducto{
    display: none;
}
