*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* ------------------------------------------------variables---------------------------------------------- */
:root{
    --negro: #393e41;
    --verde: rgb(184, 198, 108);
    --naranja: rgb(238, 93, 35);
    --azul: #0D8FAB;
}

/* -----------------------------------------------fuentes------------------------------------------------ */
@font-face{
    font-family: graphie-bold;
    src: url("../../fonts/Graphie-Bold.otf");
}
@font-face{
    font-family: graphie-regular;
    src: url("../../fonts/Graphie-Regular.otf");
}
@font-face{
    font-family: graphie-light;
    src: url("../../fonts/Graphie-Light.otf");
}
@font-face{
    font-family: extra-light;
    src: url("../../fonts/Graphie-ExtraLight.otf");
}
.tittles{
    font-family: graphie-bold;
    word-spacing: 3px;
    color: #b8c66c;
    font-size: 2rem;
}
.subtittles{
    font-family: extra-light;
    letter-spacing: 5px;
    color: #b8c66c;
}
.light{
    font-family: extra-light;
    letter-spacing: 2px;
}
.light-w{
    font-family: extra-light;
}
p{
    font-family: graphie-regular;
    font-size: 18px;
}
.regular{
    font-family: graphie-regular;
}
.typed{
    color: black;
    font-family: extra-light;
}
.all{
    position: relative;
    background-color: #fff;
}
.blue{
    color: var(--azul);
}
.green{
    color: var(--verde);
}
.black{
    color: var(--negro);
}
.bold{
    font-family: graphie-bold;
}
.exlight{
    font-family: extra-light;
}
.spletters{
    font-size: 3rem;
    color: #b8c66c;
    letter-spacing: 2px;
    text-shadow: 3px 3px 10px black;
}
.cajatittle{
    border: 1px solid var(--verde);
    border-radius: 30px;
    padding: 5px;
    backdrop-filter: grayscale(250%);
    margin: auto;
    width: fit-content;
    margin-bottom: 10px;
}
.separadorall{
    width: 70%;
    height: 0;
    margin: auto;
    border: 1px solid var(--verde);
    border-radius: 1px;
    margin-bottom: 10px;
}

/* ----------------------------------------estilos de la barra de busqueda----------------------------------------- */
#search-results{
    width: 90vw;
    padding: 20px;
    max-width: 90vw;
    max-height: 50vh;
    min-height: 1vh;
    backdrop-filter: blur(30px);
    position: absolute;
    top: 100%;
    z-index: 1;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
}
.product-result {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 150px;
}
.product-result h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}
.product-result p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}
.product-result a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.product-result a:hover {
    background-color: #45a049;
}

/* --------------------------------------------------header-------------------------------------------------- */
.header{
    box-shadow: 2px 2px 10px #b8c66c;
    height: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    position: relative;
}
.header-grid{
    display: grid;
    grid-template-columns: 100%;
}
.nav1{
    height: 70%;
    height: 100%;
}
.logo{
    width: 30%;
    height: auto;
}
.containerGrid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
}
.containerGrid > :nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
.busqueda{
    border-radius: 20px;
    height: 40px;
    width: 80%;
    border: none;
    box-shadow: 1px 1px 5px #b8c66c;
    padding-left: 15px;
    font-size: 2rem;
}
#busqueda-box{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}
#nameSesion{
    font-size: 1.2rem;
}
.containerGrid > :nth-child(2){
    height: fit-content;
}
.carrito{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.conttt:hover, #cerrar:hover{
    transform: scale(1.1);
    transition: .3s ease;
    cursor: pointer;
}
.listas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.listas li{
    font-family: graphie-regular;
    transition: .3s ease-in-out;
}
.listas li:hover{
    color: #b8c66c;
    transition: .1s;
}
.relative-menu a{
    text-decoration: none;
    color: black;
}
.hiden-menu{
    display: none;
    list-style: none;
    background-color: white;
    box-shadow: 10px 10px 50px #b8c66c;
    position: absolute;
    width: 100vw;
    padding: 15px;
    left: 0;
}
.hiden-menu > div > div{
    margin-bottom: 15px;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
.hiden-menu > div > div > li > a{
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed #b8c66ccc;
}
.listas li:hover{
    background-color: #0d8eab81;
    border-radius: 15px;
    transition: .3s ease;
}
.listas li:hover .hiden-menu{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    animation: appear .2s linear;
    animation-iteration-count: 1;
    z-index: 1;
}
.guiones{
    border-bottom: dashed rgba(0, 0, 0, 0.247);
}
.nav2{
    position: relative;
}
#menuSesion{
    width: fit-content; 
    height:fit-content; 
    cursor: pointer;
}
.menu1-sesionfloat{
    display: block;
}
.menu2-sesionfloat{
    display: none;
}
#menuSesionFloat{
    height: 100vh;
    width: 30vw;
    position: fixed;
    top: 0;
    left: -30vw;
    z-index: 11;
    border-radius: 0 20px 20px 0;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.966);
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.158);
    transition: .3s ease;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
#menuSesionFloat.active{
    left: 0;
}
.iconos-box{
    display: flex; 
    justify-content: space-between;
    align-items: center;  
    border-radius: 15px;
    box-shadow: .2px .2px 20px .2px rgba(0, 0, 0, 0.158);
    backdrop-filter: grayscale(100%);
    padding: 0 10px 0 10px;
}
.campos{
    margin: 5px 0;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5px;
    backdrop-filter: blur(50px);
    box-shadow: .1px 0 5px .1px rgba(0, 0, 0, 0.123);
    transition: .5s ease;
}
.campos:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.336);
}
#enlaceP{
    text-decoration: none;
    color: black;
}
#contactList.active{
    animation: appearContact .5s linear;
}
@keyframes appearContact {
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: fit-content;
    }
}
.separador-sesion{
    border-bottom: 1px solid #393e4186;
    width: 100%;
}

/* ---------------------------------------objetos en el carrito */
.wish-list{
    top: 0;
    height: 100%;
    width: 30vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -30vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    font-size: 20px;
    transition: .3s ease;
    background-color: rgba(255, 255, 255, 0.89);
    backdrop-filter: blur(30px);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: -1px 0 10px 1px rgba(0, 0, 0, 0.158);
    gap: 0;
}
.wish-list.active {
    right: 0;
}
#cerrar{
    cursor: pointer;
}
.exs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}
#totalcontainer{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-around;
    margin: 5px;
}
#totalcontainer p{
    display: flex;
}
#pedir{
    border: none;
    background-color: #393E41;
    border-radius: 15px;
    font-family: graphie-bold;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}
@keyframes rebotar {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
#total-precio, 
#signo{
    font-size: 2rem;
    font-weight: 800;
}
#shoping{
    max-height: 100%;
    overflow-y: scroll;
    width: 95%;
    margin: 0 auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
#shoping::-webkit-scrollbar {
    display: none;
}  

#header-container{
    border: solid black; 
    display: inline-block;
    width: auto;
    height: auto;
}
.carrito-item{
    border-bottom: 1px solid var(--negro);
    display: flex;
    margin-bottom: 15px;
}
.carrito-item > ul li{
    font-family: graphie-regular;
}
.listCaract{
    list-style: none;
}
.separador{
    border-bottom: solid #393E41;
    height: 0;
    width: 70%;
}
.btn-eliminar{
    width: 30%;
    background-color: #393E41;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;
}
.btn-eliminar:hover{
    width: 31%;
}

/* --------------------------botones de redes---------------------------------- */
.go-top-container{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 0.5rem;
    height: 9.9rem;
    z-index: 10;
}
.go-top-button{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #b8c66c;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
    animation: popup .3s;
    animation-iteration-count: 1;
    z-index: 11;
}
.go-top-button .i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: #fff;
    transition: .2s;
    width: 2rem;
}
@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 4.5rem;
        height: 4.5rem;
    }
    100%{
        width: 2.5rem;
        height: 2.5rem;
    }
}

/* ---------------------------------------estilos de la alerta-------------------------------------------- */
#containerAlert{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    transition: opacity .5s ease;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 0;
}
#alert{
    width: 60%;
    height: fit-content;
    border-radius: 20px;
    background-color: white;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#flex-x{
    width: 98%;
    display: flex;
    justify-content: end;
}
#alert-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 3px 5px;
    width: 98%;
}
.form_f{
    gap: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.form_f > .info-message > input{
    color: black;
}
#eye, 
#no-eye{
    opacity: .5;
    position: absolute;
    right: 5px;
    transform: translate(5%, 60%);
    cursor: pointer;
}
#no-eye{
    display: none;

}

/* ----------------------varible para el precio---------------------- */
#valorproducto{
    display: none;
}

@media screen and (max-width: 600px){
    
}
@media screen and (max-width: 1050px){
    #menuSesionFloat{
        width: 50vw;
        left: -50vw;
    }
    .wish-list{
        width: 60vw;
        right: -60vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #shoping{
        max-height: 70%;
    }
    #pedir{
        padding: 10px;
    }
    #totalcontainer{
        display: flex;
        flex-direction: column;
        align-items: start;
        height: fit-content;
    }
    .listas{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .responsive-menu{
        display: none;
    }
    .menu1-sesionfloat{
        display: none;
    }
    .menu2-sesionfloat{
        display: block;
    }
    .typed{
        color: #b8c66c;
    }
    .containerGrid{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .busqueda{
        font-size: 1.5rem;
    }
    #alert{
        display: flex;
        padding: 0;
        width: fit-content;
        padding: 10px;
    }
    
    #none{
        display: none;
    }
    #titlelittle{
        font-size: 1.5rem;
        display: none;
    }
}
@media screen and (max-width: 430px) {
    .label{
        font-size: 1rem;
    }
}