.productDetail{
    /* border: solid black; */
    height: 100vh;
    display: grid;
    grid-template-columns: 47% 47%;
    justify-content: space-around;

}
.volver{
    /* border: solid black; */
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-left: 1%;
    cursor: poiter;
    transition: .2s;
}
.volver:hover{
    transform: scale(1.1);
    transition: .2s;
    /* box-shadow: 1px 1px 5px #b8c66c; */
}

.productImg{
    /* border: dashed black; */
    padding: 20px;
}
.productImg img{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 50px #b8c66c;
}

.costos > :nth-child(1){
    border-bottom: solid rgba(0, 0, 0, 0.178);
    width: 80%;
    margin: 10px 0;
}
.perso{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 30px;
    justify-content: flex-start;
    align-items: center;
    /* border: solid yellow; */
    width: 100%;
}
/* .perso div{
    border: solid black;
} */
.select{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #b8c66c;
}
#costouni,
#totalValue{
    border-radius: 5px;
    background-color: #b8c66c;
    height: 40px;
    width: 40%;
    font-family: graphie-bold;
    font-size: 2rem;
    color: blue;
}

/* ---------------------------------------------cotizacion a la medida----------------------------------------------- */
/* .atuMedida{
    position: relative;
    border: solid black;
    height: 150vh;
    background-image: url(../../img/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #b8c66c;
    margin-bottom: 10px;
    padding-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg1{
    position: absolute;
    top: 0;
}
.svg2{
    position: absolute;
    bottom: 0;
}
.texts{
    border: solid black;
    border-radius: 20px;
    height: 60%;
    width: 60%;
    backdrop-filter: blur(15px);
} */
.atuMedida{
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 80vh;
    margin-bottom: 40px;
}
.item-medida{
    border: solid blue;
    width: calc(50% - 10px);
    height: 100%;
}
.atuMedida > :nth-child(1){
    border-radius: 30px;
    background-image: url(../../img/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-blend-mode: multiply;
    background-color: #b8c66c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_form{
    display: grid;
    gap: 10px;
    border: solid black;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.titule{
    /* border: solid blue; */
    text-align: center;
    width: fit-content;
    /* margin: auto; */
    backdrop-filter: blur(40px);
    border-radius: 15px;
}
.info-message{
    margin: 10px;
    position: relative;
}
.caja_text{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #b8c66c;
    padding: 0 15px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    font-family: graphie-light;
    font-size: 1rem;
    color: #fff;
    outline: none;
}
.label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: white;
    letter-spacing: 5px;
    font-family: extra-light;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-in-out;
}
.caja_text:focus ~ .label{
    top: -10px;
    left: 20px;
    font-size: 0.7rem;
    padding: 0 2px;
    border-radius: 5px;
}
input:valid ~ .label,
textarea:valid ~ .label{
    top: -10px;
    left: 15px;
    font-size: 0.7rem;
    padding: 0 2px;
}
.enviar{
    margin: auto;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #b8c66c;
    background-color: #b8c66c;
    cursor: pointer;
    font-family: extra-light;
    color: white;
    word-spacing: 10px;
    letter-spacing: 5px;
    transition: .3s ease-in-out;
}
.enviar:hover{
    transform: scale(1.03);
}
.e-b{
    width: fit-content;
    margin: auto;
}

/* -------------------------------------------slide de recomendaciones---------------------------------------------- */
.text-recomendaciones{
    width: fit-content;
    /* border: solid black; */
    margin: auto;
}
.int-text-recom > h2 > span{
    border: 1px solid #b8c66c;
    padding: 5px;
    border-radius: 30px;
}
.separador-hor{
    border-bottom: 1px solid #b8c66c;
    width: 70%;
    margin: auto;
}
.slider {
    /* border: solid black; */
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
    /* padding-left: 10px; */
    /* border: solid blue; */
}
.slide {
    min-width: 30%;
    box-sizing: border-box;
    height: 250px;
    transition: .3s ease;
    /* border: solid black; */
    border-radius: 10px;
    box-shadow: 1px 1px 10px #b8c66c;
}
.slide:hover{
    transform: scale(1.1);
    transition: .3s;
    /* border: solid blue; */
    background-color: white;
}
.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.control {
    background: #b8c66c6c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: .3s ease;
}
.control:hover{
    background-color: #b8c66ca4;
    transition: .3s;
}
.indicators {
    position: absolute;
    bottom: 10px;
    /* border: solid black; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.indicator {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: .3s ease ;
}
.indicator.active {
    background: #b8c66c;
    padding: 2px;
    width: 20px;
    border-radius: 20px;
    transition: .3s;
}


/* ------------------------------------------estilos del footter---------------------------------------- */
.caja-patron{
    position: relative;
    background-image: url("../img/iconos/patron-recor.png");
    background-repeat: repeat-x;
    background-size: 340px;
    background-color: #fff;
    height: 90px;
    width: 100%;
}
.footter{
    height: fit-content;
    position: relative;
    background-color: white;
}
.foot-interior{
    background-color: #b8c66c;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.fot-info{
    margin: 25px auto;
    width: 300px;
    height: 350px;
}
.logo-solida-fot{
    width: 300px;
}
#info1 div p{
    text-align: center;
    color: white;
    font-family: graphie-bold;
}
#info1 div img{
    margin-top: 45px;
}
.fot-titulos-internos{
    width: fit-content;
    margin: 20px 10px;
    /*border-bottom: solid #0D8FAB;*/
    font-family: graphie-bold;
}
.fot-titulos-internos h3{
    color: white;
}
#info2 div ul li a{
    color: white;
    font-family: graphie-bold;
}
#info2 div ul li a:hover{
    color: white;
    border-bottom: 1px solid white;
}
#info2 div ul li{
    width: fit-content;
    margin-bottom: 8px;
    margin-left: 10px;
}
.fot-flex{
    display: flex;
}
.fot-flex div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.fot-flex div a p{
    color: white;
    font-family: graphie-bold;
}
.fot-flex div a p:hover{
    color: white;
    border-bottom: 1px solid white;
}
.fot-flex div p{
    color: white;
    font-family: graphie-bold;
}
.footer-iconos{
    width: 30px;
}
