:root{
    --negro: #393E41;
    --verde: #b8c66c;
    --naranja: #EE5D23;
    --azul: #0D8FAB;
} 
.productDetail{
    padding-bottom: 6vh;
    display: grid;
    grid-template-columns: 47% 47%;
    justify-content: space-around;
}
.volver{
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-left: 1%;
    cursor: poiter;
    transition: .2s;
}
.volver:hover{
    transform: scale(1.1);
    transition: .2s;
}

.productImg{
    padding: 20px;
}
.productImg img{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 50px #b8c66c;
}
.drops{
    display: none;
}
.costos > :nth-child(1){
    border-bottom: solid rgba(0, 0, 0, 0.178);
    width: 80%;
    margin: 10px 0;
}
.perso{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.select{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #b8c66c;
}
#costouni,
#totalValue{
    border-radius: 5px;
    background-color: #b8c66c;
    height: 40px;
    width: 40%;
    font-family: graphie-bold;
    font-size: 2rem;
    color: blue;
}
.containercant{
    display: flex;
    height: 35px;
}
.containercant > input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cant{
    border: 1px solid #b8c66c;
    border-radius: 5px;
    width: 76%;
    text-align: center;
}
.buttons{
    border-radius: 5px;
    border: none;
    background-color: #b8c66c;
    width: 12%;
    transition: .3s ease;
}
.buttons:hover{
    cursor: pointer;
    background-color: #b8c66cc7;
}
#totaladd{
    display: flex;
    gap: 5vw;
}
#addtocartbutton{
    background-color: #b8c66c;
    border: none;
    font-family: graphie-bold;
    border-radius: 5px;
    width: 70%;
    font-size: 1.3rem;
    cursor: pointer;
    transition: .3s ease;
    height: 40px;
}
#addtocartbutton:hover{
    background-color: #b8c66cda;
    animation: add linear .2s;
    animation-iteration-count: 1;
}
@keyframes add {
    0%{
        transform: rotate(0deg);
    }
    35%{
        transform: rotate(10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#addtocartbutton:active{
    transform: scale(0.9);
}
@keyframes rebotar{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.rebotar{
    animation: rebotar 0.5s;
}

/* ----------------------------------------------estilos del mensaje-------------------------------------------------- */
/* #container-message{
    
} */
@keyframes appear {
    0%{
        /* top: -500%; */
        /* transform: scale(0); */
        opacity: 0;
    }
    50%{
        /* top: -250%; */
        /* transform: scale(.5); */
        opacity: .5;
    }
    100%{
        /* top: 0%; */
        /* transform: scale(1); */
        opacity: 1;
    }
}
#container-message{
    position: relative;
}
.meessage-add{
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: fit-content;
    padding: 15px;
    background-color: white;
    height: 50px;
    animation: appear linear 0.5s;
    animation-iteration-count: 1;
}
.ms-tt{
    font-family: graphie-light;
}
.product-name-ms{
    font-family: graphie-bold;
}
.go-cart{
    height: 30px;
    margin-left: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #b8c66c;
    border: none;
    cursor: pointer;
    font-size: larger;
}


/* ---------------------------------------------cotizacion a la medida----------------------------------------------- */
.text_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, rgba(57, 62, 65, 0),#b8c66c, rgba(57, 62, 65, 0));
}
.text_us{
    width: 80vw;
    text-align: center;
    color: black;
    position: absolute;
    top: 38%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
.waves{
    background-image: url(../../img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
}
.atuMedida{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    margin-bottom: 40px;
}
.item-medida{
    width: calc(100%);
    height: 100%;
}
.atuMedida > :nth-child(1){
    background-image: url(../../img/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_form{
    display: grid;
    gap: 10px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0.05px 0.05px 10px rgba(255, 255, 255, 0.103);
}
.titule{
    text-align: center;
    width: fit-content;
    backdrop-filter: blur(40px);
    border-radius: 15px;
}
.info-message{
    margin: 10px;
    position: relative;
}
.caja_text{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--azul);
    padding: 0 15px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    font-family: graphie-light;
    font-size: 1rem;
    color: #fff;
    outline: none;
    box-shadow: 0 10px 10px -5px #0d8eab75;
}
.label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--azul);
    letter-spacing: 5px;
    font-family: extra-light;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-in-out;
}
.caja_text:focus ~ .label{
    top: -10px;
    left: 20px;
    font-size: 0.7rem;
    padding: 0 2px;
    border-radius: 5px;
}
input:valid ~ .label,
textarea:valid ~ .label{
    top: -10px;
    left: 15px;
    font-size: 0.7rem;
    padding: 0 2px;
}
.enviar{
    margin: auto;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid var(--azul);
    background-color: var(--azul);
    cursor: pointer;
    color: var(--negro);
    transition: .3s ease-in-out;
    font-size: 20px;
    font-family: graphie-bold;
}
.enviar:hover{
    transform: scale(1.03);
}
.e-b{
    width: fit-content;
    margin: auto;
}

/* -------------------------------------------slide de recomendaciones---------------------------------------------- */
.text-recomendaciones{
    width: fit-content;
    margin: auto;
}
.int-text-recom > h2 > span{
    border: 1px solid #b8c66c;
    padding: 5px;
    border-radius: 30px;
}
.separador-hor{
    border-bottom: 1px solid #b8c66c;
    width: 70%;
    margin: auto;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}
.slide {
    min-width: 30%;
    box-sizing: border-box;
    height: 250px;
    transition: .3s ease;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 20px 20px -10px #b8c66c;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    position: relative;
    border-bottom: solid var(--verde);
    /* border-right: solid var(--verde); */
}
.slide:hover{
    transform: scale(1.1);
    transition: .3s;
    background-color: white;
    z-index: 1;
}
.slide div{
    font-family: graphie-regular;
}
.slide > :nth-child(1){
    display: flex;
    width: 90%;
    gap: 5px;
}
.slide > :nth-child(1) > img{
    object-fit: cover;
    width: 70%;
    height: auto;
    /* margin: auto; */
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b8c66c;
}
.slide > :nth-child(1) > :nth-child(2){
    /* border: solid black; */
    padding: 5px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 60%;
    height: fit-content;
    backdrop-filter: blur(15px);
    background-color: #0d8eab1a;
    border-radius: 15px;
}
.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.control {
    background: #b8c66c6c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: .3s ease;
}
.control:hover{
    background-color: #b8c66ca4;
    transition: .3s;
}
.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.indicator {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: .3s ease ;
}
.indicator.active {
    background: #b8c66c;
    padding: 2px;
    width: 20px;
    border-radius: 20px;
    transition: .3s;
}
.suggbuttom{
    background-color: var(--verde);
    border-radius: 5px;
    height: 35px;
    width: 120px;
    border: 1px solid var(--negro);
}
.suggbletters{
    color: var(--negro);
    text-decoration: none;
    font-size: 18px;
}
.slide:hover .suggbuttom{
    animation: suggbuttom .4s linear;
    animation-iteration-count: 1;
}
@keyframes suggbuttom{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-10px);
        font-weight: 800;
    }
    50%{
        transform: translateY(0);
        font-weight: 800;
    }
    75%{
        transform: translateY(-5px);
        font-weight: 800;
    }
    100%{
        transform: translate(0);
    }
}

/* ------------------------------------------estilos del footter---------------------------------------- */
.caja-patron{
    position: relative;
    background-image: url("../img/iconos/patron-recor.png");
    background-repeat: repeat-x;
    background-size: 340px;
    background-color: #fff;
    height: 90px;
    width: 100%;
}
.footter{
    height: fit-content;
    position: relative;
    background-color: white;
}
.foot-interior{
    background-color: #b8c66c;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.fot-info{
    margin: 25px auto;
    width: 300px;
    height: 350px;
}
.logo-solida-fot{
    width: 300px;
}
#info1 div p{
    text-align: center;
    color: white;
    font-family: graphie-bold;
}
#info1 div img{
    margin-top: 45px;
}
.fot-titulos-internos{
    width: fit-content;
    margin: 20px 10px;
    font-family: graphie-bold;
}
.fot-titulos-internos h3{
    color: white;
}
#info2 div ul li a{
    color: white;
    font-family: graphie-bold;
}
#info2 div ul li a:hover{
    color: white;
    border-bottom: 1px solid white;
}
#info2 div ul li{
    width: fit-content;
    margin-bottom: 8px;
    margin-left: 10px;
}
.fot-flex{
    display: flex;
}
.fot-flex div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.fot-flex div a p{
    color: white;
    font-family: graphie-bold;
}
.fot-flex div a p:hover{
    color: white;
    border-bottom: 1px solid white;
}
.fot-flex div p{
    color: white;
    font-family: graphie-bold;
}
.footer-iconos{
    width: 30px;
}
