*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
  font-family: graphie-bold;
  src: url("../fonts/Graphie-Bold.otf");
}
@font-face{
  font-family: graphie-regular;
  src: url("../fonts/Graphie-Regular.otf");
}
@font-face{
  font-family: graphie-light;
  src: url("../fonts/Graphie-Light.otf");
}
@font-face{
  font-family: extra-light;
  src: url("../fonts/Graphie-ExtraLight.otf");
}
section{
    width: 100vw;
    height: 100vh;
}
.background{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: black;
    position: absolute;
}
.background::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#b8c66c,#000);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
.cuadritos{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    border: solid;
    border: none;
    background-color: #1c1e1f;
    transition: 1.5s;
}
.cuadritos:hover{
    background-color: #b8c66c;
    transition: 0s;
}
.form-padre{
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 80vh;
  background-color: #1a1b1b;
  border-radius: 30px;
  box-shadow: 0px 10px 30px black;
}
.form{
  width: fit-content;
  margin: 100px auto;
}
.form_form{
  display: grid;
  gap: 10px;
  width: fit-content;
  margin: auto;
}
.info-message{
  margin: 10px;
  position: relative;
}
.caja_text{
  width: 300px;
  height: 60px;
  border-radius: 30px;
  border: none;
  padding: 0 15px;
  background-color: transparent;
  font-family: graphie-light;
  font-size: 1rem;
  color: black;
  outline: none;
  background-color: #b8c66c52;
}
.label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: black;
  letter-spacing: 5px;
  font-family: extra-light;
  font-size: 1rem;
  pointer-events: none;
  transition: .3s ease-in-out;
}
.caja_text:focus ~ .label{
  top: -10px;
  left: 20px;
  font-size: 0.7rem;
  padding: 0 2px;
  border-radius: 5px;
  color: white;
}
input:valid ~ .label,
textarea:valid ~ .label{
  top: -10px;
  left: 15px;
  font-size: 0.7rem;
  padding: 0 2px;
}
.enviar{
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #b8c66c;
  cursor: pointer;
  font-family: extra-light;
  color: black;
  word-spacing: 10px;
  letter-spacing: 5px;
  transition: .3s ease-in-out;
}
.enviar:hover{
  transform: scale(1.1);
}
.enlaces{
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.enlaces a{
  color: black;
  font-family: graphie-regular;
  text-decoration: none;
}
.separador{
  border-bottom: 1px solid #b8c66c;
  margin: 4px 0;
  width: 50%;
}
.e-b{
  width: fit-content;
  margin: auto;
}
.tittles{
  font-family: graphie-bold;
  text-align: center;
  font-size: 2rem;
  color: #b8c66c;
}
.container-form{  width: fit-content;}