<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Descubre los servicios de impresión en Sólida 360: impresos en pequeño y gran formato con una amplia variedad de materiales. Ubicados en Envigado - Colombia, ofrecemos calidad y creatividad en cada proyecto.">
    <meta name="keywords" content="sólida, marketing, mercado, diseño, fotografía, Pequeño formato, Gran formato, creatividad, impresos, impresión">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Sólida">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="43200">
    <meta property="og:title" content="Sólida 360 - Innovación en Marketing, Diseño, Fotografía y mucho más">
    <meta property="og:description" content="Impulsa tu marca con nosotros, juntos alcanzaremos nuevas alturas.">
    <meta property="og:image" content="https://res.cloudinary.com/dowv6nrci/image/upload/v1718898456/solida360_fpzhkn.png">
    <meta property="og:url" content="https://solidasas.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Sólida 360 - Innovación en Marketing, Fotografía y mucho más">
    <meta name="twitter:description" content="Impulsa tu marca con nosotros y alcancemos nuevas alturas.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dowv6nrci/image/upload/v1718898456/solida360_fpzhkn.png">
    <title>Impresos</title>
    <link rel="stylesheet" href="../css/impresos.css">
    <link rel="stylesheet" href="../css/menu-ham.css">
    <link rel="icon" href="../img/iconos/logo-solida.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../css/scroll.css">

</head>
<body>
    <div class="cont_nav">
        <nav class="nav" id="encabezado">
            <div class="caja-logo">
                <img class="logo" src="../img/iconos/ICONO CON PUNTOS.png" alt="">
            </div>
            <div class="off-screen-menu">
                <ul>
                    <li><a href="../../index.html">INICIO</a></li>
                    <li><a href="nosotros.html">NOSOTROS</a></li>
                    <li><a href="servicios.html">SERVICIOS</a></li>
                    <li><a href="impresos.html">IMPRESOS</a></li>
                    <li><a href="contacto.php">CONTACTO</a></li>
                    <!-- <li><a href="../recuperacion/log-in2.html">LOG-IN</a></li> -->
                </ul>
            </div>
            
            <nav>
                <div class="ham-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
          
              <script src="../js/menu-ham.js"></script>
        </nav>
    </div>
    <section class="slogan">
        <div class="fondo"></div>
        <div class="contenedor">
            <main>
                 <div class="contenedor-texto" data-aos="fade-down" data-aos-duration="800">
                    <h2 class="titulo">MÁS ALLÁ</BR><span class="typed"></span></h2>
                 </div>
            </main>
       </div>
       <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
       <script src="../js/palabrasimpresos.js"></script>
    </section>

    <section class="piezas-graficas">
        <div class="titulo-imp">
            <div>
                <img src="../img/iconos/impresion.png" alt="imagen representativa de la palabra impresión" class="imprsion-i-t" data-aos="fade-down" data-aos-duration="800">
            </div>
        </div>
        <div class="pg-int">
            <p data-aos="fade-up" data-aos-duration="800">En Sólida, ofrecemos un servicio completo de impresión en pequeño y gran formato que se adapta a todas tus necesidades de marketing y promoción. Equipados con la tecnología de vanguardia de la máquina Mimaki UJV-160 Plus, podemos proporcionarte impresiones de alta calidad con una resolución excepcional y una reproducción de colores vibrante y precisa, además manejamos tinta blanca y Clear que permite tener texturas y acabados únicos en tus piezas gráficas. Con nosotros podrás obtener impresiones de alta calidad y resultados excepcionales que superen tus expectativas.</p>
        </div>
    </section>
    
    <section class="tip-imp">
        <div class="pf-contenedor">
            <H3 class="pf-text" data-aos="fade-down" data-aos-duration="800">PEQUEÑO FORMATO</H3>
        </div>
        <section class="gallery">
            <div class="gallery-int1">
                <div class="g-int1-1">
                    <img src="../img/pf-imp3.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gg-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <img src="../img/pf-imp2.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gg-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                </div>
                <div class="g-int1-2">
                    <img src="../img/pf-imp1.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gg-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <img src="../img/pf-imp9.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gg-img" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                </div>
            </div>
            <div class="gallery-int2">
                <div class="g-int2-1">
                    <img src="../img/pf-imp5.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gg-img2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                    <img src="../img/pf-imp10.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gg-img2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                </div>
                <div class="g-int2-2">
                    <img src="../img/pf-imp7.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gg-img2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                    <img src="../img/pf-imp8.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gg-img2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
                </div>
            </div>
        </section>
        <section class="galler2-flex">
            <div class="gallery-int-flex">
                <div>
                    <img src="../img/pf-imp11.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg" id="gg-img2-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="900">
                </div>
            </div>
            <div class="gallery-int-flex" id="gallery-grid">
                <div class="g-int-flex">
                    <img src="../img/pf-imp12.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg-f" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000">
                    <img src="../img/pf-imp13.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg-f" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1100">
                </div>
                <div>
                    <img src="../img/pf-imp14.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg" id="gimg-alone" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1200">
                </div>
            </div>
        </section>
        <section class="galler3-flex">
            <div class="gallery-int-flex3" id="gallery-grid3">
                <div class="g-int-flex">
                    <img src="../img/pf-imp16.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg-f" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1300">
                    <img src="../img/pf-imp17.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg-f " data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000">
                </div>
                <div class="g-int-flex" id="32">
                    <img src="../img/pf-imp18.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg" id="gimg-alone3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000">
                    <img src="../img/pf-imp19.jpg" alt="Impresiones en pequeño formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg" id="gimg-alone3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000">
                </div>
            </div>
            <div class="gallery-int-flex">
                <div>
                    <img src="../img/pf-imp15.jpg" alt="" class="gggg" id="gg-img3-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000">
                </div>
            </div>
        </section>
    </section>
    <section class="gran-formato">
        <div class="pf-contenedor3">
            <H3 class="pf-text" data-aos="fade-down" data-aos-duration="800">GRAN FORMATO</H3>
        </div>
        <section class="galler2-flex">
            <div class="gallery-int-flex none" >
                <div>
                    <img src="../img/gf-imp1.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg" id="gg-img2-1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                </div>
            </div>
            <div class="gallery-int-flex" id="gallery-grid">
                <div class="g-int-flex">
                    <img src="../img/gf-imp2.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg2-f" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <img src="../img/gf-imp3.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg2-f" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                </div>
                <div>
                    <img src="../img/gf-imp10.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg" id="gimg-alone2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                </div>
            </div>
        </section>
        <section class="galler3-flex">
            <div class="gallery-int-flex3" id="gallery-grid3">
                <div class="g-int-flex">
                    <img src="../img/gf-imp4.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg3-f" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                    <img src="../img/gf-imp5.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg3-f" data-aos="fade-up" data-aos-duration="800" data-aos-delay="550">
                </div>
                <div class="g-int-flex">
                    <img src="../img/gf-imp7.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg-alone3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                    <img src="../img/gf-imp8.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg gimg-alone3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="650">
                </div>
            </div>
            <div class="gallery-int-flex none">
                <div>
                    <img src="../img/gf-imp6.jpg" alt="Impresiones en gran formato de una agencia de impresos, destacando diseños y materiales de alta calidad." class="gggg" id="gg-img3-3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                </div>
            </div>
        </section>
    </section>
    <section class="etc-container">
        <div class="tittle-etc" data-aos="fade-down" data-aos-duration="800">
            <h3>TODOS NUESTROS <span class="light">SERVICIOS</span></h3>
        </div>
        <div class="etc-texts">
            <div class="etc-info">
                <div class="separador"></div>
                <div class="etc-info-tt" data-aos="fade-down" data-aos-duration="800" data-aos-delay="100">
                    <h2 class="tt-etc">PEQUEÑO FORMATO</h2>
                </div>
                <div class="etc-info-int-container">
                    <div class="etc-info-int">
                        <ul>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="100">Tarjetas de presentación</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="150">Brochures</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">Catálogos</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="250">Folletos</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">Volantes</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="350">Afiches</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="400">Stickers</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="450">Etiquetas</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="500">Carpetas</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="550">Revistas</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="600">Tarjetas</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="650">Sobres</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="700">Bolsas</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="750">Publicaciones</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="800">Merchandising</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="850">Empaque</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="900">Certificados y diplomas</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="950">Carné</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="1000">Otros...</li>
                        </ul>
                    </div>
                </div>
                <div class="separador2"></div>
            </div>
            <div class="etc-info">
                <div class="separador"></div>
                <div class="etc-info-tt" data-aos="fade-down" data-aos-duration="800" data-aos-delay="300">
                    <h2 class="tt-etc">GRAN FORMATO</h2>
                </div>
                <div class="etc-info-int-container">
                    <div class="etc-info-int">
                        <ul>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="150">Lonas</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">Vinilo blanco, metalizado, <br>colores</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="250">Impresión en canvas o lienzo</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">Textil</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="350">Roll ups y backing</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="400">Vinilo de corte</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="450">Interiorismo</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="500">Arquigrafía</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="550">Banners</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="600">Stickers</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="650">Decoración vehicular</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="700">Impresión en cuero tratado, <br>cuerina o cuero sintético</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="750">Cartulinas</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="800">Materiales transparentes</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="850">Sistema brillante</li>
                        </ul>
                    </div>
                </div>
                <div class="separador2"></div>
            </div>
            <div class="etc-info">
                <div class="separador"></div>
                <div class="etc-info-tt" data-aos="fade-down" data-aos-duration="800" data-aos-delay="500">
                    <h2 class="tt-etc">MÁS SERVICIOS</h2>
                </div>
                <div class="etc-info-int-container">
                    <div class="etc-info-int">
                        <ul>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">Plotter de corte</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="250">Estampación</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">Sublimación</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="350">Sandblasting</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="400">Presentaciones</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="450">Fotografía</li>
                            <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="500">Mugs</li>
                        </ul>
                    </div>
                </div>
                <div class="separador2"></div>
            </div>
        </div>
    </section>


    <div class="caja-patron"></div>
        <section class="footter">
            <div class="foot-interior">
                <div class="fot-info" id="info1">
                    <div>
                        <img src="../img/iconos/ipbe.png" alt="" class="logo-solida-fot">
                    </div>
                    <div>
                        <p class="">Somos Sólida, una empresa apasionada por la creatividad y la innovación en el mundo de las comunicaciones, el mercadeo y la producción de impresos.</p>
                    </div>
                </div>
                <div class="fot-info" id="info2">
                    <div class="fot-titulos-internos">
                        <h3>MARCAS <span class="light">SÓLIDAS</span></h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#posicion">MONTECASINO</a></li>
                            <li><a href="#posicion">CORPOASES</a></li>
                            <li><a href="#posicion">FUNDACIÓN HUELLAS DEL AYER</a></li>
                            <li><a href="#posicion">ARRULLA</a></li>
                            <li><a href="#posicion">ONDAS</a></li>
                            <li><a href="#posicion">AURUM</a></li>
                            <li><a href="#posicion">SPOT SERVICIOS</a></li>
                            <li><a href="#posicion">CENTRO EDUCATIVO MELODÍAS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fot-info" id="info3">
                    <div class="fot-titulos-internos">
                        <h3>CONTACTO</h3>
                    </div>
                    <div>
                        <ul>
                            <div class="fot-flex">
                                <div>
                                    <img src="../img/iconos/ubi.png" alt="" class="footer-iconos">
                                </div>
                                <div>
                                    <a href="https://maps.app.goo.gl/NkUMMBjKmGbwSTrk6" target="_blank"><p>Cra. 41A #27 A sur 86 - Centro Ejecutivo La Casona Envigado - Oficina 102</p></a>
                                </div>
                            </div>
                            <div class="fot-flex">
                                <div>
                                    <img src="../img/iconos/mail.png" alt="" class="footer-iconos">
                                </div>
                                <div>
                                    <p>gestion@solidasas.com</p>
                                </div>
                            </div>
                            <div class="fot-flex">
                                <div>
                                    <img src="../img/iconos/wats.png" alt="" class="footer-iconos">
                                </div>
                                <div>
                                    <!--<a href=""><p>+57 324 569 36 94</p></a>-->
                                    <p>+57 324 569 36 94</p>
                                </div>
                            </div>
                            <div class="fot-flex">
                                <div>
                                    <img src="../img/iconos/time.png" alt="" class="footer-iconos">
                                </div>
                                <div>
                                    <p>Lunes a viernes de 8:00 a.m. a 5:00 p.m.</p>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="fot-info" id="info4">
                    <div class="fot-titulos-internos">
                        <h3>SÍGUENOS</h3>
                    </div>
                    <div>
                        <div class="fot-flex">
                            <div>
                                <img src="../img/iconos/in.png" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <a href=""><p>Linkedin</p></a>
                                <!--<a href=""><p>WhatsApp</p></a>-->
                                
                            </div>
                        </div>
                        <div class="fot-flex">
                            <div>
                                <img src="" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <a href="https://www.instagram.com/solida360_?igsh=MWFlZW9iaTJ0N3NuMQ%3D%3D" target="_blank"><p>Instagram</p></a>
                            </div>
                        </div>
                        <div class="fot-flex">
                            <div>
                                <img src="" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <a href="https://www.tiktok.com/@solida.360?_t=8mP23a76KLV&_r=1" target="_blank"><p>Tik Tok</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <div class="go-top-container">
        <div class="go-top-button">
            <div><img class="i" src="../img/iconos/flecha.png" alt=""></div>
        </div>
    </div>
    <script src="../js/arriba.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    	<script>
        	AOS.init()
    	</script>
</body>
</html>