<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Document</title>
    <link rel="stylesheet" href="../css/menu-ham.css">
    <link rel="stylesheet" href="../css/intra-net.css">
    <link rel="stylesheet" href="../css/scroll.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
</head>
<body>
    <div class="cont_nav">
        <nav class="nav" id="encabezado">
            <div class="caja-logo">
                <img class="logo" src="../img/iconos/ICONO CON PUNTOS.png" alt="">
            </div>
            <div class="off-screen-menu">
                <ul>
                    <li><a href="../../index.html">INICIO</a></li>
                    <li><a href="config.html">ajustes</a></li>
                    <li><a href="log-in.html">LOG-OUT</a></li>
                </ul>
            </div>
            
            <nav>
                <div class="ham-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
                <script>
                    const hamMenu = document.querySelector(".ham-menu");
                    const offScreenMenu = document.querySelector(".off-screen-menu");
                    hamMenu.addEventListener("click", () => {
                      hamMenu.classList.toggle("active");
                      offScreenMenu.classList.toggle("active");
                    });
                </script>
            </nav>
    </div>
    
    <section class="menu-lateral">
        <div class="menu-grid">
            <div class="grid-intm">
                <img src="../img/iconos/perfil.png" alt="" class="perfil">
                <div>
                    h
                </div>
            </div>
            <div class="grid-intm">
                <h3>plan</h3>
            </div>
            <div class="grid-intm">
                <h3>proyectos</h3>
            </div>
            <div class="grid-intm">
                <h3>marca</h3>
            </div>
            <div class="grid-intm">
                <h3>crear</h3>
            </div>
            <div class="grid-intm">
                <h3>casas</h3>
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="hero-container">
            <div class="diseñemos">
                <div>
                    <h1 class="tittles">DISEÑEMOS JUNTOS</h1>
                </div>
            </div>
            <div class="archivos">
                <a href="../img/galeria/baru.jpg" download="imagen1.jpg" id="a-fondo1">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
                <a href="../img/galeria/casa.jpg" download="imagen2.jpg">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
                <a href="../img/galeria/ff1.jpg" download="imagen3.jpg">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
                <a href="../img/galeria/ff2.jpg" download="imagen4.jpg">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
                <a href="../img/galeria/ficha.jpg" download="imagen5.jpg">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
                <a href="../img/galeria/gym1.jpg" download="imagen6.jpg">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
                <a href="../img/galeria/gym2.jpg" download="imagen7.jpg">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
                <a href="../img/galeria/gym3.jpg" download="imagen8.jpg">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
                <a href="../img/galeria/mr.jpg" download="imagen9.jpg">
                    <div>
                        <button><img src="../img/iconos/descarga-directa.png" alt="" class="descarga"></button>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="footter">
        <div class="foot-interior">
            <div class="fot-info" id="info1">
                <div>
                    <img src="../img/iconos/ipbe.png" alt="" class="logo-solida-fot">
                </div>
                <div>
                    <p class="">Somos Sólida, una empresa apasionada por la creatividad y la innovación en el mundo de las comunicaciones, el mercadeo y la producción de impresos.</p>
                </div>
            </div>
            <div class="fot-info" id="info2">
                <div class="fot-titulos-internos">
                    <h3>MARCAS <span class="light">SÓLIDAS</span></h3>
                </div>
                <div>
                    <ul>
                        <li><a href="#posicion">MONTECASINO</a></li>
                        <li><a href="#posicion">CORPOASES</a></li>
                        <li><a href="#posicion">FUNDACIÓN HUELLAS DEL AYER</a></li>
                        <li><a href="#posicion">ARRULLA</a></li>
                        <li><a href="#posicion">ONDAS</a></li>
                        <li><a href="#posicion">AURUM</a></li>
                        <li><a href="#posicion">SPOT SERVICIOS</a></li>
                        <li><a href="#posicion">CENTRO EDUCATIVO MELODÍAS</a></li>
                    </ul>
                </div>
            </div>
            <div class="fot-info" id="info3">
                <div class="fot-titulos-internos">
                    <h3>CONTACTO</h3>
                </div>
                <div>
                    <ul>
                        <div class="fot-flex">
                            <div>
                                <img src="../img/iconos/ubi.png" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <a href="https://maps.app.goo.gl/NkUMMBjKmGbwSTrk6" target="_blank"><p>Cra. 41A #27 A sur 86 - Centro Ejecutivo La Casona Envigado - Oficina 102</p></a>
                            </div>
                        </div>
                        <div class="fot-flex">
                            <div>
                                <img src="../img/iconos/mail.png" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <p>gestion@solidasas.com</p>
                            </div>
                        </div>
                        <div class="fot-flex">
                            <div>
                                <img src="../img/iconos/wats.png" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <!--<a href=""><p>+57 324 569 36 94</p></a>-->
                                <p>+57 324 569 36 94</p>
                            </div>
                        </div>
                        <div class="fot-flex">
                            <div>
                                <img src="../img/iconos/time.png" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <p>Lunes a viernes de 8:00 a.m. a 5:00 p.m.</p>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="fot-info" id="info4">
                <div class="fot-titulos-internos">
                    <h3>SÍGUENOS</h3>
                </div>
                <div>
                    <div class="fot-flex">
                        <div>
                            <img src="../img/iconos/in.png" alt="" class="footer-iconos">
                        </div>
                        <div>
                            <a href=""><p>Linkedin</p></a>
                            <!--<a href=""><p>WhatsApp</p></a>-->
                            
                        </div>
                    </div>
                    <div class="fot-flex">
                        <div>
                            <img src="" alt="" class="footer-iconos">
                        </div>
                        <div>
                            <a href="https://www.instagram.com/solida360_?igsh=MWFlZW9iaTJ0N3NuMQ%3D%3D" target="_blank"><p>Instagram</p></a>
                        </div>
                    </div>
                    <div class="fot-flex">
                        <div>
                            <img src="" alt="" class="footer-iconos">
                        </div>
                        <div>
                            <a href="https://www.tiktok.com/@solida.360?_t=8mP23a76KLV&_r=1" target="_blank"><p>Tik Tok</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>