<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Descubre todos los servicios de Sólida 360: marketing, diseño, impresos, fotografía y desarrollo de sitios web. Ubicados en Envigado - Colombia, te ofrecemos soluciones creativas para impulsar tu marca.">
    <meta name="keywords" content="sólida, marketing, mercado, diseño, fotografía, web, marca, creatividad, impresiones, gran formato, pequeño formato, campañas, eventos, comunicaciones, agencia, ">
    <meta name="robots" content="index, all, follow">
    <meta name="author" content="Sólida">
    <meta name="audience" content="all">
    <meta name="category" content="marketing, diseño">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="43200">
    <meta property="og:title" content="Sólida 360 - Innovación en Marketing, Diseño y mucho mas">
    <meta property="og:description" content="Impulsa tu marca con nosotros, juntos alcanzaremos nuevas alturas.">
    <meta property="og:image" content="https://res.cloudinary.com/dowv6nrci/image/upload/v1718898456/solida360_fpzhkn.png">
    <meta property="og:url" content="https://solidasas.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Sólida 360 - Innovación en Marketing, Diseño y mucho mas">
    <meta name="twitter:description" content="Impulsa tu marca con nosotros y alcancemos nuevas alturas.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dowv6nrci/image/upload/v1718898456/solida360_fpzhkn.png">
    <title>Agencia de branding, marketing, pauta, fotografia, impresos</title>
    <link rel="stylesheet" href="../css/servicios.css" />
    <link rel="stylesheet" href="../css/slider.css" />
    <link rel="stylesheet" href="../css/menu-ham.css" />
    <link rel="icon" href="../img/iconos/logo-solida.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="../css/scroll.css">
  </head>
  <body>
    <div class="cont_nav">
      <nav class="nav" id="encabezado">
        <div class="caja-logo">
          <img
            class="logo"
            src="../img/iconos/ICONO CON PUNTOS.png"
            alt=""
          />
        </div>
        <div class="off-screen-menu">
            <ul>
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="impresos.html">IMPRESOS</a></li>
                <!--<li><a href="contacto.php">CONTACTO</a></li>-->
            </ul>
        </div>

        <nav>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <script src="../js/menu-ham.js"></script>
      </nav>
    </div>
    <div class="container-carousel">
      <div class="carruseles" id="slider">
        <section class="slider-section">
          <img src="../img/s-website1.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/fondo1.png" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/s-website4.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/carrusel/4.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/carrusel/5.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/pf-imp6.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/pf-imp14.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/pf-imp10.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/s-website2.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
        <section class="slider-section">
          <img src="../img/s-website3.jpg" alt="imágenes que ilustran servicios de branding, marketing digital, gestión de redes sociales, desarrollo de sitios web y fotografía profesional." />
        </section>
      </div>
      <div class="btn-left"><i class="bx bx-chevron-left"></i></div>
      <div class="btn-right"><i class="bx bx-chevron-right"></i></div>
    </div>
    <script src="../js/slider.js"></script>

    
    <section class="serv-branding">
        <div class="titles" data-aos="fade-right" data-aos-duration="800">
            <h3><span class="light">BRANDING</span></h3>
        </div>
        <div class="items-content">
            <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="100"><p>Branding</p></div>
            <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300"><p>Re-Branding</p></div>
            <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="500"><p>Naming</p></div>
        </div>
        <div class="textos-s" data-aos="fade-down" data-aos-duration="800">
            <p><span class="light">¡NO ES SOLO UN LOGO,</span>ES UNA IDENTIIDAD!</span></p>
        
        </div>
        <div class="texto" data-aos="fade-up" data-aos-duration="800">
            <div class="text1">
                <div class="tx1_int">
                    <p>Con la creación de tu marca personal, de tu empresa o de ciudad, buscamos generar reconocimiento, diferenciación, confianza y credibilidad en un mercado altamente competitivo.</p>
                </div>
            </div>
            
        </div>
        <div class="separador"></div>
        <div class="marcas" data-aos="zoom-in" data-aos-duration="800">
            <div class="marcasinde" data-name="p-1">
               <img src="../img/empresas/montecasino.png" alt="Logo diseñado por una agencia de branding de una empresa de cafe." class="empresa-img">
            </div>
      
            <div class="marcasinde" data-name="p-2">
               <img src="../img/empresas/arulla.png" alt="Logo diseñado por una agencia de branding de una empresa de arroz." class="empresa-img">
            </div>
      
            <div class="marcasinde" data-name="p-3">
               <img src="../img/empresas/aurum.png" alt="Logo diseñado por una agencia de branding de una empresa de presonalización y diseño de vehiculos." class="empresa-img">
            </div>
      
            <div class="marcasinde" data-name="p-4">
               <img src="../img/empresas/corpoases.png" alt="Logo diseñado por una agencia de branding de una empresa que realiza trabajos sociales para las personas." class="empresa-img">
            </div>
      
            <div class="marcasinde" data-name="p-5">
               <img src="../img/empresas/huellas.png" alt="Logo diseñado por una agencia de branding de una fundacion que apoya y ayuda a los adultos mayores." class="empresa-img">
            </div>
      
            <div class="marcasinde" data-name="p-6">
               <img src="../img/empresas/melodias.png" alt="Logo diseñado por una agencia de branding de un jardín infantil." class="empresa-img">
            </div>
      
            <div class="marcasinde" data-name="p-7">
               <img src="../img/empresas/ondas.png" alt="Logo diseñado por una agencia de branding de una empresa de servicios médicos y de salud." class="empresa-img">
            </div>
      
            <div class="marcasinde" data-name="p-8">
               <img src="../img/empresas/spot-servicios.png" alt="Logo diseñado por una agencia de branding de una empresa de servicios spot." class="empresa-img">
            </div>
        </div>
    </section>
    <section class="serv-websites">
        <div class="tt_container">
            <div></div>
            <div class="titles_right" data-aos="fade-right" data-aos-duration="800">
                <h3><span class="light">SITIOS WEB</span></h3>
            </div>
        </div>
        <div class="itm_container">
            <div>
                
            </div>
            <div class="items-content_right">
                <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="100"><p>Diseño</p></div>
                <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300"><p>Código</p></div>
                <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="500"><p>Fotografía</p></div>
            </div>
        </div>
        
        
        <div class="cajatext-web" data-aos="fade-down" data-aos-duration="800"> 
            <h3>¿QUIERES QUE TU MARCA TENGA PRESENCIA EN LÍNEA?</h3>
        </div>
        <div class="separador"></div>
        <div class="info-web" id="info-web1">
            <div class="contenedor_web1">
                <div class="int-info-img">
                    <img src="../img/s-website1.jpg" alt="Imágenes que ilustran servicios profesionales de creación de sitios web y diseño web para empresas de marketing." class="s-website" id="s-website1" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">
                </div>
                <div class="int-info-img">
                    <img src="../img/s-website4.jpg" alt="Imágenes que ilustran servicios profesionales de creación de sitios web y diseño web para empresas de marketing." class="s-website" id="s-website4" data-aos="fade-right" data-aos-duration="800" data-aos-delay="400">
                </div>
            </div>
            
            <div class="int-info">
                <div class="text_part1 text-p">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="250">En Sólida creamos y diseñamos tu sitio web con la capacidad de estar disponible las 24 horas del día y los 7 días de la semana para tus clientes.   </p>
                </div>
                <div class="text_part2 text-p" >
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="450">Estamos en la capacidad de crear para tu empresa un sitio web bien diseñado y funcional, que transmita una imagen de profesionalismo y que a cada instante pueda entregar información a tus clientes sobre la empresa, los servicios y productos.</p>
                </div>
            </div>
        </div>
        <div class="info-web" id="info-web2">
            <div class="int-info" id="i-i-2">
                <p class="tt_web1" data-aos="fade-down" data-aos-duration="800">Te ofrecemos estos productos</p>
                <div class="prs_web">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="100">Desarrollo en wordpress</p>
                </div>
                <div class="prs_web">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">Personalización de HTML y CSS</p>
                </div>
                <div class="prs_web">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="500">Desarrollo en JavaScript</p>
                </div>
                <div class="prs_web">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="700">Desarrollo en Python</p>
                </div>
                <div class="prs_web">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="900">Desarollo en php</p>
                </div>
            </div>
            <div class="contenedor_web2">
                <div class="int-info-img" >
                    <img src="../img/s-website2.jpg" alt="Imágenes que ilustran servicios profesionales de creación de sitios web y diseño web para empresas de marketing." class="s-website" id="s-website2" data-aos="fade-left" data-aos-duration="800" data-aos-delay="100">
                </div>
                <div class="int-info-img" id="absolute2">
                    <img src="../img/s-website3.jpg" alt="Imágenes que ilustran servicios profesionales de creación de sitios web y diseño web para empresas de marketing." class="s-website" id="s-website3" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">
                </div>
            </div>
        </div>
    </section>
    <section class="serv-socialmedia">
        <div class="titles" data-aos="fade-right" data-aos-duration="800" >
            <h3><span class="light">SOCIAL MEDIA</span></h3>
        </div>
        <div class="items-content">
            <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="100"><p>Diseño</p></div>
            <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300"><p>Comunity</p></div>
            <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="500"><p>Fotografía</p></div>
        </div>
        <div class="cajatext-web" data-aos="fade-down" data-aos-duration="800">
            <h3>IMPULSA TU MARCA CON <span class="light">NOSOTROS</span></h3>
        </div>
        <div class="separador"></div>
        <div class="sm_info_intro">
            <div class="">
                <div class="text_sm">
                    <p data-aos="fade-up" data-aos-duration="800">En Sólida, nos comprometemos a impulsar el éxito de tu marca en las redes sociales, creando conexiones significativas y generando resultados tangibles. Nuestro equipo de expertos en social media está dedicado a desarrollar estrategias personalizadas y efectivas que maximicen la presencia y el impacto de tu marca, en las plataformas digitales más relevantes.</p>
                </div>
            </div>
        </div>
        <div class="sm-info">
            <div class="sm_productos">
                <h3 data-aos="fade-down" data-aos-duration="800">TE OFRECEMOS</h3>
                <div class="sm_prod_int">
                    <img src="../img/num_1.png" alt="imagen descriptora del numero 1 para una lista" class="prod_num prod-num-1-4" data-aos="fade-right" data-aos-duration="800" data-aos-delay="100">
                    <p class="traslate" data-aos="fade-right" data-aos-duration="800" data-aos-delay="150">Publicaciones</p>
                </div>
                <div class="sm_prod_int">
                    <img src="../img/num_2.png" alt="imagen descriptora del numero 1 para una lista" class="prod_num" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="350">Historias</p>
                </div>
                <div class="sm_prod_int">
                    <img src="../img/num_3.png" alt="imagen descriptora del numero 1 para una lista" class="prod_num" data-aos="fade-right" data-aos-duration="800" data-aos-delay="500">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="550">Copys</p>
                </div>
                <div class="sm_prod_int">
                    <img src="../img/num_4.png" alt="imagen descriptora del numero 1 para una lista" class="prod_num prod-num-1-4" data-aos="fade-right" data-aos-duration="800" data-aos-delay="700">
                    <p class="traslate" data-aos="fade-right" data-aos-duration="800" data-aos-delay="750">Optimización del perfil</p>
                </div>
                <div class="sm_prod_int">
                    <img src="../img/num_5.png" alt="imagen descriptora del numero 1 para una lista" class="prod_num" data-aos="fade-right" data-aos-duration="800" data-aos-delay="900">
                    <p data-aos="fade-right" data-aos-duration="800" data-aos-delay="950">Informes de redes</p>
                </div>
            </div>
            <div class="sm_imgp_flex">
                <div class="sm_imgp">
                    <img src="../img/ca_ig.jpg" alt="imagen del manejo del social media administrado por una empresa de marketing" class="imgp" id="imgp1" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                </div>
                <div class="sm_imgp">
                    <img src="../img/melo_ig.jpg" alt="imagen del manejo del social media administrado por una empresa de marketing" class="imgp" id="imgp2" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                </div>
                <div class="sm_imgp">
                    <img src="../img/cf_ig.jpg" alt="imagen del manejo del social media administrado por una empresa de marketing" class="imgp" id="imgp3" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                </div>
                <div class="sm_imgp">
                    <img src="../img/on_ig.jpg" alt="imagen del manejo del social media administrado por una empresa de marketing" class="imgp" id="imgp4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                </div>
                <div class="sm_imgp">
                    <img src="../img/fh_ig.jpg" alt="imagen del manejo del social media administrado por una empresa de marketing" class="imgp" id="imgp5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="900">
                </div>
            </div>
            
        </div>
        <div class="separador"></div>
        <div class="cajatext-web" data-aos="fade-down" data-aos-duration="800">
            <h3>NUESTROS <span class="light">PLANES</span></h3>
        </div>

        <div class="paquetes" data-aos="fade-up" data-aos-duration="800"></div>

        <div class="separador"></div>

        <div class="textos">
            <div class="g_box mca_ciudad alto1" >
                <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="100">
                    <div class="g_tt" id="g_tt1">
                        <h4>PAUTA</h4>
                    </div>
                    <p class="text_g t_g">En Sólida, nos comprometemos a maximizar el impacto y la efectividad de tus campañas publicitarias, ofreciéndote soluciones estratégicas y creativas que impulsen el crecimiento y el éxito de tu marca.</p>
                </div>
            </div>
            <div class="g_box eto_lto alto1">
                <div data-aos="fade-left" data-aos-duration="800" data-aos-delay="100">
                    <div class="g_tt" id="g_tt2">
                        <h4>CAMPAÑAS INSTITUCIONALES</h4>
                    </div>
                    <p class="text_g2 t_g">En Sólida diseñamos campañas institucionales que lleguen a fortalecer y consolidar la imagen de tu marca, reforzar y crear relaciones, y apoyar a lograr los objetivos estratégicos.</p>
                
                </div>
            </div>
            <div class="g_box mca_ciudad" id="mca_ciudad2">
                <div data-aos="fade-right" data-aos-duration="800" data-aos-delay="300">
                    <div class="g_tt">
                        <h4>VIDEO REELS</h4>
                    </div>
                    <p class="text_g t_g">De una forma dinámica y llamativa, en Sólida capturamos los mejores momentos de tu marca para captar la atención de tu audiencia. A través de los videos en formato reels (rápidos y creativos) buscamos aumentar la visibilidad de tu marca y llegar a cumplir tus objetivos.  </p>
                
                </div>
            </div>
            <div class="g_box eto_lto" id="eto_lto2">
                <div data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">
                    <div class="g_tt" id="g_tt2">
                        <h4>VIDEO CORPORATIVO</h4>
                    </div>
                    <p class="text_g2 t_g">En Sólida, a través de la creación de videos corporativos buscamos construir y fortalecer la marca de nuestros aliados. Buscamos conectar directamente con los clientes y contar con imágenes los valores, cultura y personalidad de cada marca. </p>
                
                </div>
            </div>
        </div>
    </section>
    
    <section class="serv-fotografia">
        <div class="fondo">
            <div class="fondo-contenedor">
                <div class="fotos-info">
                    <div class="separador" data-aos="fade-down" data-aos-duration="800"></div>
                    <div class="fotos-info-int">
                        <div data-aos="zoom-in" data-aos-duration="800">
                            <p>¿Sabías qué a través de la fotografía puedes promocionar tu marca y evidenciar los mejores momentos de tu empresa?</p>
                            <br>
                            <p>En nuestra agencia te acompañamos a transmitir todos tus mensajes a través de la fotografía.</p>
                        </div> 
                    </div>
                    <div class="separador" data-aos="fade-up" data-aos-duration="800"></div>
                </div>
            </div>
            
        </div>
        <div class="tt_container">
            <div></div>
            <div class="titles_right" data-aos="fade-right" data-aos-duration="800">
                <h3><span class="light">FOTOGRAFÍA</span></h3>
            </div>
        </div>
        <div class="itm_container">
            <div>
                
            </div>
            <div class="items-content_right">
                <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="100"><p>Productos</p></div>
                <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="300"><p>Espacios</p></div>
                <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="500"><p>Retratos</p></div>
                <div class="items" data-aos="fade-right" data-aos-duration="800" data-aos-delay="700"><p>Más...</p></div>
            </div>
        </div>
        <div class="cajatext-web" data-aos="fade-down" data-aos-duration="800">
            <h3>CONOCE NUESTRO <span class="light">TRABAJO</span></h3>
        </div>
        <div class="separador" id="separadorg"></div>
        <section class="gallery" data-aos="zoom-in" data-aos-duration="800">
            <div class="gallery-int gallery-int1">
                <div class="gint g-int1-1">
                    <img src="../img/galeria/casa.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img" data-name="f-1">
                    <img src="../img/galeria/mr.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img" data-name="f-2">
                </div>
                <div class="gint g-int1-2">
                    <img src="../img/galeria/ficha.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img" data-name="f-3">
                    <img src="../img/galeria/baru.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img" data-name="f-4">
                </div>
            </div>
            <div class="gallery-int gallery-int2">
                <div class="gint g-int2-1">
                    <img src="../img/galeria/ff1.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img2" data-name="f-5">
                    <img src="../img/galeria/ff2.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img2" data-name="f-6">
                </div>
                <div class="gint g-int2-2">
                    <img src="../img/galeria/gym1.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img2" data-name="f-7">
                    <img src="../img/galeria/gym2.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img2" data-name="f-8">
                    <img src="../img/galeria/gym3.jpg" alt="Fotos capturadas por una agencia profesional de fotografía, mostrando diversos estilos y escenarios." class="fsm gg-img2" data-name="f-9">
                </div>
            </div>
        </section>
    </section>

    <div class="caja-patron"></div>
    <section class="footter">
            <div class="foot-interior">
                <div class="fot-info" id="info1">
                    <div>
                        <img src="../img/iconos/ipbe.png" alt="" class="logo-solida-fot">
                    </div>
                    <div>
                        <p class="">Somos Sólida, una empresa apasionada por la creatividad y la innovación en el mundo de las comunicaciones, el mercadeo y la producción de impresos.</p>
                    </div>
                </div>
                <div class="fot-info" id="info2">
                    <div class="fot-titulos-internos">
                        <h3>MARCAS <span class="light">SÓLIDAS</span></h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#posicion">MONTECASINO</a></li>
                            <li><a href="#posicion">CORPOASES</a></li>
                            <li><a href="#posicion">FUNDACIÓN HUELLAS DEL AYER</a></li>
                            <li><a href="#posicion">ARRULLA</a></li>
                            <li><a href="#posicion">ONDAS</a></li>
                            <li><a href="#posicion">AURUM</a></li>
                            <li><a href="#posicion">SPOT SERVICIOS</a></li>
                            <li><a href="#posicion">CENTRO EDUCATIVO MELODÍAS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fot-info" id="info3">
                    <div class="fot-titulos-internos">
                        <h3>CONTACTO</h3>
                    </div>
                    <div>
                        <ul>
                            <div class="fot-flex">
                                <div>
                                    <img src="../img/iconos/ubi.png" alt="" class="footer-iconos">
                                </div>
                                <div>
                                    <a href="https://maps.app.goo.gl/NkUMMBjKmGbwSTrk6" target="_blank"><p>Cra. 41A #27 A sur 86 - Centro Ejecutivo La Casona Envigado - Oficina 102</p></a>
                                </div>
                            </div>
                            <div class="fot-flex">
                                <div>
                                    <img src="../img/iconos/mail.png" alt="" class="footer-iconos">
                                </div>
                                <div>
                                    <p>gestion@solidasas.com</p>
                                </div>
                            </div>
                            <div class="fot-flex">
                                <div>
                                    <img src="../img/iconos/wats.png" alt="" class="footer-iconos">
                                </div>
                                <div>
                                    <!--<a href=""><p>+57 324 569 36 94</p></a>-->
                                    <p>+57 324 569 36 94</p>
                                </div>
                            </div>
                            <div class="fot-flex">
                                <div>
                                    <img src="../img/iconos/time.png" alt="" class="footer-iconos">
                                </div>
                                <div>
                                    <p>Lunes a viernes de 8:00 a.m. a 5:00 p.m.</p>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="fot-info" id="info4">
                    <div class="fot-titulos-internos">
                        <h3>SÍGUENOS</h3>
                    </div>
                    <div>
                        <div class="fot-flex">
                            <div>
                                <img src="../img/iconos/in.png" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <a href=""><p>Linkedin</p></a>
                                <!--<a href=""><p>WhatsApp</p></a>-->
                                
                            </div>
                        </div>
                        <div class="fot-flex">
                            <div>
                                <img src="" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <a href="https://www.instagram.com/solida360_?igsh=MWFlZW9iaTJ0N3NuMQ%3D%3D" target="_blank"><p>Instagram</p></a>
                            </div>
                        </div>
                        <div class="fot-flex">
                            <div>
                                <img src="" alt="" class="footer-iconos">
                            </div>
                            <div>
                                <a href="https://www.tiktok.com/@solida.360?_t=8mP23a76KLV&_r=1" target="_blank"><p>Tik Tok</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <div class="go-top-container">
        <div class="go-top-button">
            <div><img class="i" src="../img/iconos/flecha.png" alt=""></div>
        </div>
    </div>
    <script src="../js/arriba.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    	<script>
        	AOS.init()
    	</script>
  </body>
</html>
